
@{
    ViewBag.Title = "Page not found";
}

<div class="row">
    <h1>We cannot find what you're looking for! </h1>
    <form action="/b/search">
        <input type="text" name="q" class="form-control col-xs-12" placeholder="Try searching it here">
    </form>
</div>
<hr />
<div class="row">
    <img src="https://i.chzbgr.com/maxW500/14562048/hDDD4DE47/" alt="iz sorry" class="img img-responsive" />

</div>




