@model List<KimeBlog.Models.BlogPost>
@{
    ViewBag.Title = "Welcome!";
}
<div class="row">
    <div class="col-md-12">
        <ul style="list-style:none;padding:0px;">

            @foreach (var item in Model)
            {
                <li>
                    <div class="alert alert-success">
                        <h3 style="margin:2px 0 2px 0;">
                            <a href="/b/@item.Id">@item.Title.ToUpper()</a>
                        
                            @if (item.ThumbUrl != "")
                            {

                                <img style="width:150px;" class="img img-circle img-responsive pull-right" src="@item.ThumbUrl" />

                            }
                        </h3>
                        <span>@item.PubDate</span>
                        <p>
                            @item.Preview <small>...</small>
                        </p>
                     
                    </div>
                </li>


            }
        </ul>

    </div>

</div>

